table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    
  }
  th{
    background-color:#2ecc71
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  input{
    outline: none;
    border: 0;
    border-bottom: 1px solid black;
    height: 2vh;
  }

