body {
  height:100%; 
  position:absolute; 
  top:0; 
  bottom:0; 
  right:0; 
  left:0; }

.menu{
  background-clip: content-box;
  background-color: #1f8047;
  height: 10vh;
  padding-bottom: 2vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
}
.clients{
  color: white;
  font-size: 30px;
  justify-content: center;
  margin-left: 2vh;
  margin-right: 2vh;
}
.actions{
  color: white;
  font-size: 30px;
  justify-content: center;
  margin-right: 2vh


}
.analytics{
  color: white;
  font-size: 30px;
  justify-content: center;
  margin-right: 2vh

}
a:link {
  color: white;

}

a:visited {
  color: white;

}


input{
  display: inline;
  outline: none;
  border: 0;
  border-bottom: 1px solid black;
}
.actionsContainer{
  margin-left: 2vh
}

.paging{
  display: flex;
  justify-content: space-between;
  height: 8.4vh;
}
.paging1{
  background-color: #1f8047;
  font-size: 22px;
  cursor: pointer;
  flex-grow: 1;
}
.paging2{
  background-color: #1f8047;
  float: right;
  font-size: 22px;
  cursor: pointer;
  flex-grow: 1;
}
.numPages{
  flex-grow: 5;
  font-size: 22px;
  background-color: #1f8047;

}
.popup{
  z-index: 999;
  background-color: #1f8047;
  border: 1px black solid;
  position:absolute;
  top: 40%;
  left:40%;
  height: 20vh;
  width: 30vh;
  opacity: 50;
}


